/*  ==========================================================================
    Tables
    ========================================================================== */
    
    @media only screen {

      .table {
        width: 100%;
        
        td, 
        th {
          padding: 10px;
          vertical-align: middle; 
        } 

        th:nth-child(2) {
          width: 30%;
        }

        th:nth-child(3),
        td:nth-child(3) {
          text-align: left;
        }
        
        tbody {
          tr:nth-child(odd) {
            background: #dedede;
          }
        }
      }

    }


    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

      .table { 
        td, 
        th {
          padding: 20px; 
        }  
      }

    }